header{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)),url('../../public/imgs/rockconcert.jpg') no-repeat 50% 50%;
    background-size:cover;
}

.scrolled{
    background:black !important;
}

.addToCartButton, .addToCartButton:hover{
    background-color:#323232;
    color:white;
    border-radius:5px;
    padding:10px;
}

.blackBg{
    background-color:black;
    color:white;
}

.product-card-btn-section{
    display:flex;
    justify-content:center;
}

.container{
    display:flex;
    flex-direction: column;
}

.copyrightBorder{
    border-top:1px solid #323232;
}

.copyrightSection{
    padding-top:1em;
}

.featuredElement{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
}

.featuredImg{
    width:220px;
    height:220px;
}

.featuredProductsContainer{
    padding-top:3em;
}

.featuredElement{
    padding-bottom:2em;
}

.featuredProductTitle, .featuredProductPrice, .contactInfo>p{
    margin-bottom:0 !important;
}

.featuredProductPrice{
    color:red;
    font-weight:bold;
}

.fixed-top{
    position:fixed;
    top:0;
}

.footerArea{
    padding-top:100px;
    padding-bottom:70px;
}

.footerElement{
    margin-bottom:30px;
}

.footerElement>h3{
    color:white;
    text-transform:uppercase;
    font-size:15px;
}

.copyrightSection>p, .footerElement>p{
    color:rgb(212, 200, 200);
}

.footerLink, .myAccountLink, .contactInfo{
    display:flex;
    flex-direction:column;
}

.footerLink>a, .myAccountLink>a, .contactInfo>p{
    color:rgb(212, 200, 200);
}

.footerLink>a:hover, .myAccountLink>a:hover{
    color:white;
}

.loginArea{
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    margin-left:auto;
    margin-right:auto;
}

.navbar a{
    color: white !important;
    font-size:20px;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size:35px;
}

.navbar-toggler{
    border-color: white !important;
    border-style: solid 120px;
}

.navbar-toggler-icon{
    border-color:white !important;
}

.mainContent{
    margin-top: 3em;
    margin-left:3em;
    margin-right:3em;
    margin-bottom:2em;
}

.mainContent>h1{
    text-align: center;
}

.mt-30{
    margin-top:30px;
}

.mb-30{
    margin-bottom:30px;
}

.mt-50{
    margin-top:50px;
}

.mb-50{
    margin-bottom:50px;
}

.pageTitle{
    background-image:linear-gradient(rgba(26,26,26,0.5),rgba(26,26,26,0.5)), url('../../public/imgs/pagetitle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:500px;
}

.pagination{
  justify-content:center;
}

.product-image{
    img{
      height:300px;
      width:350px;
      @media (max-width:400px){
        height:260px;
        width:270px;
      }
    }
}

.product-info-card{
    text-align:center;
}

.product-name{
  line-height: 2.5ex;
  height: 7.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
}

.socialMediaIcon>i{
    height:20px !important;
    width:20px !important;
    color:rgb(212, 200, 200);
}

.socialMediaIcon>i:hover{
    color:white;
}

#slogan, #pageTitle{
    padding:15%;
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items:center;
    justify-content:center;

    @media (max-width:750px){
      padding:25%;
    }
    @media (max-width:400px){
      padding:20%;
    }
    @media (max-width:320px){
      padding:18%;
    }
}

#pageTitle>h1{
    font-size: 30px;
}

#shopNowBtn{
    margin-top: 3em;
}

#newsletterForm{
    display:flex;
    flex-direction:row;
    border: black solid 1px;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top:3em;
}

#newsletterForm>button{
    border: black solid 1px;
    border-radius: 30px;
    background:rgb(29, 28, 28);
    color:white;
    font-weight: bold;
    height:42px;
    width:142px;
    margin-top:10px;
    text-transform:uppercase;
}

#newsletterForm>button:hover{
    background-color:white;
    color: black;
}

#subscriptionBox{
    width:90%;
    height:60px;
    border:0;
}

.text-light{
    color:white;
    font-weight: 400;
}

.text-light>h1 , .text-light>h3{
    text-shadow: white 10em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#currentPageLabel>h1{
    font-size:60px;
}

#contact{
    padding-bottom:5em;
}

#contact>h1, #featuredProducts>h1{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#registerButton, #loginButton, #sendPwResetButton, #searchButton{
    background-color:#323232;
    color:white;
}

#registerButton:hover, #loginButton:hover,#sendPwResetButton:hover, #searchButton:hover{
    border-color:black;
    background-color:white;
    color: black;
}

#loginBox>h2, #registerBox>h2{
    text-transform:uppercase;
    font-size:25px;
}

#loginButton, #registerButton, #addToCartButton{
    text-transform:uppercase;
}

@media (max-width: 991px) {

    .info-block>h4{
        padding-left:1.25em;
        padding-right:1.25em;
    }

    .info-block>p{
        padding-left:2em;
        padding-right:2em;
    }

    .price-block{
        padding-left:2em;
    }
}

@media (max-width: 750px) {
    .footerArea{
        padding-top:30px;
        padding-bottom:30px;
    }
}

@media (max-width: 600px) {
    header{
        background:linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)),url('../../public/imgs/rockconcert.jpg') no-repeat 50% 50%;
    }

    .loginArea{
        padding-top:50px;
        padding-bottom:50px;
    }

    .pageTitle{
        height:300px;
    }
}

@media (max-width: 575px){
    #expFieldYear{
        margin-top:1em;
    }
}

@media (max-width: 400px){
    #newsletterForm{
        font-size:13px;
    }
    #newsletterForm>button{
        width:100px;
        height:40px;
    }
}
